Django==4.2.6
mongoengine==0.27.0
sshtunnel==0.4.0
langchain==0.0.351
langchain-experimental==0.0.40
python-dotenv==1.0.0
llama-cpp-python==0.2.24
google-api-python-client==2.108.0
wikipedia==1.4.0
jose==1.0.0
python-jose==3.3.0
urllib3<=3,>=1.21.1
requests==2.31.0
django-cors-headers==4.3.1
huggingface_hub==0.17.3
datasets==2.14.7
langchain_core==0.1.1
docarray==0.39.1
pydantic==1.10.9
chromadb==0.4.20
sentence-transformers==2.2.2
faiss-gpu==1.7.2
pypdf==3.17.3
ctransformers==0.2.27
gevent==23.9.1 